_jh_build.apksigner/
_jh_manifest.apksigner
apksigner.1
apksigner.debhelper.log
apksigner.substvars
apksigner/
debhelper-build-stamp
files
libapksig-java.debhelper.log
libapksig-java.substvars
libapksig-java/
